*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* menu list/top navigation bar starts here */

.menu_list{
    box-shadow: 0px 0px 10px gray;
    background: #EBD8C3;
    padding: 1rem;
    margin: 0;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.menu_list_item a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.menu_list li{
    list-style: none;
    margin: 10px 20px;
}

.menu_list_item{
    display: flex;
}

a:hover{
    color:blueviolet;
}

.menu_list_item span{
    color: black;
   cursor: pointer;
}

.menu_list :first-child{
    margin-right: auto;
    margin-left: 20px;
}

/* menu list/top navigation bar ends here */


/* homepage carasoul starts here */

.carasoul {
    display:block;
    position:relative;
    background:url(../static/first.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width:100%;
    height:300px;
    margin: auto;
    margin-top: 2px;
    animation: slider 12s linear infinite;
    border: #EBD8C3 2px solid;
}

@keyframes slider {
    0%{
        background: url(../static/first.jpg);
    }
    25%{
        background: url(../static/second.jpg);
    }
    50%{
        background: url(../static/third.jpg);
    }
    75%{
        background: url(../static/fourth.jpg);
    }
}

.homepageSlider{
    background-color: #F6EAD7;
}

/* homepage carasoul ends here */

/*selection menu for current */

/* selection menu header starts */
.selectionMenu{
    background-color: #EBD8C3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }

  .selectionMenu .selectionMenu_items h4{
      font-size: 16px;
      font-weight: bold;
  }

  /* selection menu header ends */

  /* selection menu select tool starts */

  select{
      margin-top: 2px;
      padding: 10px;
     font-size: 16px;
     border: #EBD8C3 1px solid;
     margin-left: 10%;
  }

  /* selection menu select tools ends here */

  /* cards starts here */

  .cards_container_initial{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
}

  .cards_container_filtered{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card{
      background-color: rgba(107, 218, 252, 0.2);
      width: 20%;
      text-align: center;
      
  }
  .card img{
      width: 100%;
      height: 150px;
  }

  .select_container{
      display: flex;
      justify-content: space-evenly;
  }

  .showingResultCount{
      border: 1px solid rgba(0, 0, 0,0.1);
      padding: 10px;
      font-size: 14px;
  }

  /* style modal for me button on menu */

  .me_menu_modal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100vh;
      width: 100vh;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      background: rgba(238, 115, 115, 0.7);
      color:black;
      display: none;
}

 /* style modal for dashboard button on menu */

 .dashboard_menu_modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(238, 115, 115, 0.7);
    color:black;
    display: none;
}

 /* style modal for enroll button on menu */

 .enroll_modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(238, 115, 115, 0.7);
    color:black;
    display: none;
}

 /* style modal for session card button on menu */

 .card_session_modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(238, 115, 115, 0.7);
    color:black;
    display: none;
}



